{% import '@SyliusWeb/Frontend/Macros/buttons.html.twig' as buttons %}
{% extends '@SyliusWeb/Frontend/Account/layout.html.twig' %}

{% set orderLabel = 'sylius.ui.order'|trans ~ ' #'~ order.number %}

{% block title %}
    - {{ orderLabel }}
{% endblock %}

{% block topbar %}
    <ul class="breadcrumb">
        <li><a href={{ path('sylius_homepage') }}>{{ 'app.ui.home'|trans }}</a></li>
        <li>{{ 'app.ui.my_account'|trans }}</li>
        <li><a href={{ path('sylius_account_order_index') }}>{{ 'sylius.ui.orders'|trans }}</a></li>
        <li><a href={{ path('sylius_account_order_show', {'number': order.number}) }}>{{ '#' ~ order.number }}</a></li>
        <li>{{ 'sylius.ui.payments'|trans }}</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="box text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>{{ orderLabel }} {{ 'sylius.ui.payments'|trans }}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 clearfix" id="customer-order">
            <div class="box">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ 'sylius.ui.payment_method'|trans }}</th>
                                <th>{{ 'sylius.ui.state'|trans }}</th>
                                <th>{{ 'sylius.ui.action'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody id="payments">
                            {% for payment in order.payments %}
                                <tr>
                                    <th scope="row">{{ payment.id }}</th>
                                    <td>{{ payment.method.name }}</td>
                                    <td>{{ payment.state }}</td>
                                    <td>
                                        {% if 'new' == payment.state %}
                                            <a href="{{ url('sylius_order_purchase', { 'paymentId': payment.id }) }}" class="btn btn-default">
                                                <span>{{ 'app.ui.pay'|trans }}</span>
                                                <i class="fa fa-credit-card"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% include('@SyliusWeb/Frontend/Account/menu.html.twig') %}

    </div>
{% endblock %}
