{% extends '@SyliusWeb/Frontend/layout.html.twig' %}

{% block title %}
    - Checkout
{% endblock %}

{% block topbar %}
    <ul class="breadcrumb">
        <li><a href={{ path('sylius_homepage') }}>Home</a></li>
        <li>Checkout - Payment method</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="box text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>Checkout - Payment method</h1>
            </div>
        </div>
    </div>

    {{ parent() }}

    <div class="col-md-9 clearfix" id="checkout">
        <div class="box">
            <form method="post" action="{{ path(context.process.forwardRoute, {'stepName': context.currentStep.name}) }}" novalidate>

                {{ include('@SyliusWeb/Frontend/Checkout/Step/_statusBar.html.twig') }}

                <div class="content">

                    {{ form_errors(form) }}

                    <div class="row">
                        {% for paymentMethodForm in form.paymentMethod %}
                            <div class="col-sm-6">
                                <div class="box shipping-method text-center">
                                    <h3>{{ form_label(paymentMethodForm, null, {'label_attr': {'class': 'col-sm-12'}}) }}</h3><br>
                                    <div class="box-footer">
                                        {{ form_widget(paymentMethodForm) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            <a href="{{ path(context.process.displayRoute, {'stepName': context.previousStep.name}) }}" class="btn btn-default">
                                <i class="fa fa-chevron-left"></i> {{ 'sylius.ui.back'|trans }}
                            </a>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">
                                Continue to Order Review<i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="hidden">
                    {{ form_rest(form) }}
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-3">
        {% if not order.empty %}
            {{ include('@SyliusWeb/Frontend/Cart/_orderSummary.html.twig') }}
        {% endif %}
    </div>

{% endblock %}
