{% extends '@SyliusWeb/Frontend/layout.html.twig' %}

{% block title %}
    - {{ 'sylius.ui.checkout'|trans }}
{% endblock %}

{% block topbar %}
    <ul class="breadcrumb">
        <li><a href={{ path('sylius_homepage') }}>{{ 'app.ui.home'|trans }}</a></li>
        <li>{{ 'sylius.ui.checkout'|trans }} - {{ 'sylius.ui.payment_method'|trans }}</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="box text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>{{ 'sylius.ui.checkout'|trans }} - {{ 'sylius.ui.payment_method'|trans }}</h1>
            </div>
        </div>
    </div>

    {{ parent() }}

    <div class="col-md-9 clearfix" id="checkout">
        <div class="box">
            <form method="post"
                  action="{{ path(context.process.forwardRoute, {'stepName': context.currentStep.name}) }}" novalidate>

                {{ include('@SyliusWeb/Frontend/Checkout/Step/_statusBar.html.twig') }}

                <div class="content">
                    {{ form_errors(form) }}

                    <div class="row">
                        {% for paymentMethodForm in form.paymentMethod %}
                            <div class="col-sm-6">
                                <div class="box shipping-method text-center">
                                    <h3>{{ form_label(paymentMethodForm, null, {'label_attr': {'class': 'col-sm-12'}}) }}</h3>
                                    <br>

                                    <div class="box-footer">
                                        {{ form_widget(paymentMethodForm) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            <a href="{{ path(context.process.displayRoute, {'stepName': context.previousStep.name}) }}"
                               class="btn btn-default">
                                <i class="fa fa-chevron-left"></i> {{ 'sylius.ui.back'|trans }}
                            </a>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary" id="confirm-payment-button">
                                {{ 'app.ui.continue_to_order_review'|trans }}<i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="hidden">
                    {{ form_rest(form) }}
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-3">
        {% if not order.empty %}
            {{ include('@SyliusWeb/Frontend/Cart/_orderSummary.html.twig') }}
        {% endif %}
    </div>

    {{ include('@SyliusWeb/Frontend/Checkout/delayed-payment-confirmation-modal.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        (function($) {
            var delayedPayments = ['Cash on Collection', 'Pay by Bank Transfer'];
            var confirmButton;
            var chosenMethodId;
            var chosenMethodName;
            var modalBody;
            var methodPrefix = '';

            $(document).ready(function() {
                $(document).on('click', '#confirm-payment-button', function(e) {
                    chosenMethodId = $('input[name="sylius_checkout_payment[paymentMethod]"]:checked').attr('id');
                    chosenMethodName = $("label[for='" + chosenMethodId + "']").val($(this)).text();
                    if ($.inArray(chosenMethodName, delayedPayments) > -1) {
                        e.preventDefault();

                        if (chosenMethodName.split(" ")[0] !== 'Pay') {
                            methodPrefix = 'pay by ';
                        }

                        modalBody = $('.modal-body');
                        modalBody.children()[0].innerHTML =
                                'Please confirm that you would like to '
                                + methodPrefix
                                + chosenMethodName.toLowerCase()
                                + '.'
                        ;

                        confirmButton = $(this);

                        $('#delayed-payment-confirmation-modal').modal('show');
                        $('#delayed-payment-confirmation-modal #confirm-delayed-payment').click(function(e) {
                            if (confirmButton.is("button")) {
                                e.preventDefault();
                                confirmButton.closest('form').submit();
                            }
                        });
                    }
                });
            });
        })
        (jQuery);
    </script>
{% endblock %}
