{% extends '@SyliusWeb/Frontend/layout.html.twig' %}

{% block title %}
    - Checkout
{% endblock %}

{% block topbar %}
    <ul class="breadcrumb">
        <li><a href={{ path('sylius_homepage') }}>Home</a></li>
        <li>Checkout - Payment method</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="box text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>Checkout - Payment method</h1>
            </div>
        </div>
    </div>

    {{ parent() }}

    <div class="col-md-9 clearfix" id="checkout">
        <div class="box">
            <form method="post" action="{{ path(context.process.forwardRoute, {'stepName': context.currentStep.name}) }}" class="form-horizontal" novalidate>

                <ul class="nav nav-pills nav-justified">
                    <li><a href="{{ path('sylius_checkout_addressing') }}"><i class="fa fa-map-marker"></i><br>Address</a>
                    </li>
                    <li><a href="{{ path('sylius_checkout_shipping') }}"><i class="fa fa-truck"></i><br>Shipping Method</a>
                    </li>
                    <li class="active"><a href="#"><i class="fa fa-money"></i><br>Payment Method</a>
                    </li>
                    <li class="disabled"><a href="{{ path('sylius_checkout_finalize') }}"><i class="fa fa-eye"></i><br>Order Review</a>
                    </li>
                </ul>

                <div class="content">

                    {{ form_errors(form) }}

                    <div class="row">
                        {% for paymentMethodForm in form.paymentMethod %}
                            <div class="col-sm-6">
                                <div class="box shipping-method">
                                    <h4>{{ form_label(paymentMethodForm) }}</h4>

                                    <div class="box-footer text-center">
                                        {{ form_widget(paymentMethodForm) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            <a href="{{ path(context.process.displayRoute, {'stepName': context.previousStep.name}) }}" class="btn btn-default">
                                <i class="fa fa-chevron-left"></i> {{ 'sylius.checkout.back'|trans }}
                            </a>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">
                                Continue to Order Review<i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="hidden">
                    {{ form_rest(form) }}
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-3">
        {% if not order.empty %}
            {{ include('@SyliusWeb/Frontend/Cart/_order_summary.html.twig') }}
        {% endif %}
    </div>

{% endblock %}
