{% extends '@SyliusWeb/Frontend/layout.html.twig' %}

{% block title %}
    - Checkout
{% endblock %}

{% block topbar %}
    <ul class="breadcrumb">
        <li><a href={{ path('sylius_homepage') }}>Home</a></li>
        <li>Checkout - Shipping method</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="box text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>Checkout - Shipping method</h1>
            </div>
        </div>
    </div>

    {{ parent() }}

    <div class="col-md-9 clearfix" id="checkout">
        <div class="box">
            <form method="post" action="{{ path(context.process.forwardRoute, {'stepName': context.currentStep.name}) }}" novalidate>

                <ul class="nav nav-pills nav-justified">
                    <li><a href="{{ path('sylius_checkout_addressing') }}"><i class="fa fa-map-marker"></i><br>Address</a>
                    </li>
                    <li class="active"><a href="#"><i class="fa fa-truck"></i><br>Shipping Method</a>
                    </li>
                    <li class="disabled"><a href="{{ path('sylius_checkout_payment') }}"><i class="fa fa-money"></i><br>Payment Method</a>
                    </li>
                    <li class="disabled"><a href="{{ path('sylius_checkout_finalize') }}"><i class="fa fa-eye"></i><br>Order Review</a>
                    </li>
                </ul>

                <div class="content">

                    {{ form_errors(form) }}
                    {{ form_errors(form.shipments[0].method) }}

                    <div class="row">
                        {% set shippingMethodForms = form.shipments[0].method.children %}
                        {% for shippingMethodForm in shippingMethodForms %}
                            {% set shippingMethodCost = form.shipments[0].method.vars.shipping_costs[shippingMethodForm.vars.value] %}

                            <div class="col-sm-6">
                                <div class="box shipping-method text-center">
                                    <h3>{{ form_label(shippingMethodForm, null, {'label_attr': {'class': 'col-sm-12'}}) }}</h3>
                                    <p class="text-muted">
                                        {% if shippingMethodCost == 0 %}
                                            Free
                                        {% else %}
                                            Cost: {{ shippingMethodCost|sylius_price }}
                                        {% endif %}
                                    </p>
                                    <div class="box-footer text-center">
                                        {{ form_widget(shippingMethodForm) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            <a href="{{ path(context.process.displayRoute, {'stepName': context.previousStep.name}) }}" class="btn btn-default">
                                <i class="fa fa-chevron-left"></i> {{ 'sylius.ui.back'|trans }}
                            </a>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">
                                Continue to Payment Method<i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="hidden">
                    {{ form_rest(form) }}
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-3">
        {% if not order.empty %}
            {{ include('@SyliusWeb/Frontend/Cart/_orderSummary.html.twig') }}
        {% endif %}
    </div>

{% endblock %}
