{% extends '@SyliusWeb/Frontend/layout.html.twig' %}

{% block title %}
    - {{ 'sylius.ui.checkout'|trans }}
{% endblock %}

{% block topbar %}
    <ul class="breadcrumb">
        <li><a href={{ path('sylius_homepage') }}>{{ 'app.ui.home'|trans }}</a></li>
        <li>{{ 'sylius.ui.checkout'|trans }} - {{ 'sylius.ui.shipping_method'|trans }}</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="box text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>{{ 'sylius.ui.checkout'|trans }} - {{ 'sylius.ui.shipping_method'|trans }}</h1>
            </div>
        </div>
    </div>

    {{ parent() }}

    <div class="col-md-9 clearfix" id="checkout">
        <div class="box">
            <form method="post" action="{{ path(context.process.forwardRoute, {'stepName': context.currentStep.name}) }}" novalidate>

                {{ include('@SyliusWeb/Frontend/Checkout/Step/_statusBar.html.twig') }}

                <div class="content">

                    {{ form_errors(form) }}
                    {{ form_errors(form.shipments[0].method) }}

                    <div class="row">
                        {% set shippingMethodForms = form.shipments[0].method.children %}
                        {% for shippingMethodForm in shippingMethodForms %}
                            {% set shippingMethodCost = form.shipments[0].method.vars.shipping_costs[shippingMethodForm.vars.value] %}

                            <div class="col-sm-6">
                                <div class="box shipping-method text-center">
                                    <h3>{{ form_label(shippingMethodForm, null, {'label_attr': {'class': 'col-sm-12'}}) }}</h3>
                                    <p class="text-muted">
                                        {% if shippingMethodCost == 0 %}
                                            {{ 'app.ui.free'|trans }}
                                        {% else %}
                                            {{ 'app.ui.cost'|trans }}: {{ shippingMethodCost|sylius_price }}
                                        {% endif %}
                                    </p>
                                    <div class="box-footer text-center">
                                        {{ form_widget(shippingMethodForm) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            <a href="{{ path(context.process.displayRoute, {'stepName': context.previousStep.name}) }}" class="btn btn-default">
                                <i class="fa fa-chevron-left"></i> {{ 'sylius.ui.back'|trans }}
                            </a>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">
                                {{ 'app.ui.continue_to_payment_method'|trans }}<i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="hidden">
                    {{ form_rest(form) }}
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-3">
        {% if not order.empty %}
            {{ include('@SyliusWeb/Frontend/Cart/_orderSummary.html.twig') }}
        {% endif %}
    </div>

{% endblock %}
