<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_errors(form) }}
            {{ form_row(form.url) }}
            {{ form_row(form.enabled) }}
            {{ form_row(form.file) }}
            {% if form.vars.data.path is not null %}
                <img src="{{ form.vars.data.path|imagine_filter('sylius_medium') }}" alt="" class="img-responsive image1">
            {% endif %}
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.showOnCategories) }}
        </div>
    </div>
</div>
