{% extends '@SyliusWeb/Frontend/Account/layout.html.twig' %}

{% block title %}
    - Account
{% endblock %}

{% block topbar %}
    <ul class="breadcrumb">
        <li><a href={{ path('sylius_homepage') }}>Home</a></li>
        <li>Account</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="box text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>{{ 'sylius.account.home.welcome'|trans }}</h1>
                <div>{{ 'sylius.account.home.outline'|trans }}</div>
            </div>
        </div>
    </div>

    {{ parent() }}

    <div class="col-md-9 clearfix">
        <div class="box">
            <div class="row">
                <h4>{{ customer.lastName|upper }} {{ customer.firstName }}</h4>
                <div class="spacer-50">&nbsp;</div>
                <p>{{ 'sylius.account.home.id'|trans }} {{ app.user.id }}</p>
                <p>{{ 'sylius.account.home.email'|trans }} {{ customer.email }}</p>
                <p>{{ 'sylius.account.home.since'|trans }} {{ app.user.createdAt|date() }}</p>
            </div>
        </div>
    </div>

    {% include('SyliusWebBundle:Frontend/Account:menu.html.twig') %}

{% endblock %}
