{% if products is not empty %}
<div class="same-height-row row grid-items grid-items-mini gi-products">
    <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="grid-item gi-list double-width">
            <div class="text-instead-of-image same-height-always">
                <div class="box">
                    <h3>{{ 'app.ui.you_may_also_like'|trans }}</h3>
                </div>
            </div>
            <div class="text">
                <h3>&nbsp;</h3>
                <p class="price">&nbsp;</p>
            </div>
        </div>
    </div>
    {% for product in products %}
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="grid-item gi-product">

                <div class="image same-height-always">
                    <a href="{{ path(product) }}">
                        <img class="image1 img-responsive" src="{{ product.image ? product.image.path|imagine_filter('sylius_large') : 'http://placehold.it/500x500' }}" alt="{{ product.name }}" />
                    </a>
                    <div class="quick-view-button">
                        <a href="{{ path(product) }}" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a>
                    </div>
                </div>

                <div class="text">
                    <h3><a href="{{ path(product) }}">{{ product.name }}</a></h3>
                    <p class="price">{{ product.price|sylius_price }}</p>
                </div>

            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
