{% if products is not empty %}
<div class="same-height-row row grid-items grid-items-mini gi-products">
    <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="grid-item gi-list double-width">
            <div class="text-instead-of-image same-height-always" style="height: 160px;">
                <div class="box">
                    <h3 class="text-muted">You may also like these products</h3>
                </div>
            </div>
            <div class="text">
                <h3>&nbsp;</h3>
                <p class="price">&nbsp;</p>
            </div>
        </div>
    </div>
    {% for product in products %}
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="grid-item gi-product">
                <a href="{{ path(product) }}">
                <div class="image same-height-always" style="height: 160px;">
                        <img class="image1 img-responsive" src="{{ product.image ? product.image.path|imagine_filter('sylius_medium') : 'http://placehold.it/160x160' }}" alt="{{ product.name }}" />
                </div>
                <div class="text">
                    <h3>{{ product.name }}</h3>
                    <p class="price">{{ product.price|sylius_price }}</p>
                </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
