{% extends '@SyliusWeb/Frontend/layout.html.twig' %}
{% import '@SyliusWeb/Frontend/Product/macros.html.twig' as macro %}

{% set form = sylius_cart_form({'product': product}) %}

{% set majorTaxonsCodes = ['publisher', 'game_system'] %}

{% set minorTaxons = product.taxons.toArray|app_product_taxons_excluding(majorTaxonsCodes) %}
{% set majorTaxons = product.taxons.toArray|app_product_taxons(majorTaxonsCodes) %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output='assets/compiled/backend_review.js'
    'bundles/syliusreview/js/sylius-review.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script>
        var createMessage = "{{ 'sylius.resource.create'|trans({'%resource%': 'Product review'}, 'flashes') }}";
        $(document).ready(function () {
            initializeAjaxForm(createMessage);
        });
    </script>
    <script>
        $(".quick-view-button").on("click", "a", function () {
            $("#product-quick-view-modal").empty();

            $.ajax({
                url: $(this).attr("href")
            }).done( function(data) {
                $("#product-quick-view-modal").append(data);
            });
        });
    </script>
    {% endjavascripts %}
{% endblock %}

{% block title %}
    - {{ product.name }}
{% endblock %}

{% block topbar %}
    <ul class="breadcrumb">
        <li><a href={{ path('sylius_homepage') }}>{{ 'app.ui.home'|trans }}</a></li>
        {% for rootName, taxons in majorTaxons %}
            {% for taxon in taxons %}
                <li><a href={{ path('app_shop_product_index', {'criteria': {(taxon.root.code): [taxon.id]}}) }}>{{ taxon.name }}</a></li>
            {% endfor %}
        {% endfor %}
        <li>{{ product.name }}</li>
    </ul>
{% endblock %}

{% block content %}

    {{ parent() }}
    {% block quick_view %}
        <div class="modal fade" id="product-quick-view-modal" tabindex="-1" role="dialog" aria-hidden="false">

        </div>
    {% endblock %}

    <div class="row" id="productMain">
        <div class="col-sm-6 col-sm-push-3 col-lg-6 col-lg-push-4" id="productSummary">
            <div class="box">
                <div class="col-sm-12 summary">
                    <h1>{{ product.name }}</h1>
                </div>

                <div class="col-sm-12 summary">
                    <p class="text-muted">{{ product.shortDescription }}</p>
                    <ul class="text-muted">
                        <li>Learn in only 15 minutes</li>
                        <li>Play in only 60 minutes</li>
                        <li>Enjoy hundreds of hours of fast-paced, interactive fun!</li>
                        <li>Settlers of Catan engages both children and adults, garnering best-seller status in both Germany and the US</li>
                        <li>Ages 10 +</li>
                    </ul>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>

        <form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post" class="clearfix">

        <div class="col-sm-3 col-sm-push-3 col-lg-2 col-lg-push-4" id="productPrice">
            <div class="box">
                <p class="price">{{ product.price|sylius_price }}</p>
                <div class="add-cart-block-vertical">
                    <p class="text-center">
                        <button type="submit" class="btn btn-primary btn-cart">
                            <i class="fa fa-cart-plus"></i>
                            {{ 'sylius.ui.add_to_cart'|trans }}
                        </button>
                    </p>
                </div>
            </div>

            <div class="box social" id="product-social">
                <h4>{{ 'app.ui.show_to_friends'|trans }}</h4>
                <p>
                    <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                </p>
            </div>
        </div>
        <div class="col-sm-3 col-sm-pull-9 col-lg-4 col-lg-pull-8" id="productImage">
            <div id="mainImage">
                <img class="image1 img-responsive"
                     src="{{ product.image ? product.image.path|imagine_filter('sylius_large') : 'http://placehold.it/500x800' }}"
                     alt="{{ product.name }}">
            </div>

            {{ macro.all_ribbons('plain_ribbon', product) }}

            <div class="row" id="thumbs">
                {% for image in product.images %}
                    <div class="col-xs-4">
                        <a href="{{ image.path|imagine_filter('sylius_large') }}" title="{{ product.name }}" class="thumb">
                            <img class="img-responsive" src="{{ image.path|imagine_filter('sylius_small') }}" alt="{{ product.name }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-sm-9 col-lg-10" id="productDetail">
            <div class="box" id="details">
                <h4>{{ 'app.ui.product_details'|trans }}</h4>

                <blockquote>
                    <p>{{ product.description }}</p>
                </blockquote>

                <div class="row">
                    {% set contents = attribute(product, 'getAttributeByCode', ['contents']) %}
                    <div class="col-xs-12">
                        <div class="box">
                            <h4>{{ contents.name }}</h4>
                            <p>{{ contents.value }}</p>
                        </div>
                    </div>
                </div>

                <div class="same-height-row row">
                    <div class="col-xs-6">
                        <div id="product-technical" class="box same-height-always">
                            <h4>{{ 'app.ui.technical_details'|trans }}</h4>
                            <dl>
                                {% for rootName, taxons in majorTaxons %}
                                    <dt>{{ rootName }}</dt>
                                    {% for taxon in taxons %}
                                        <dd><a href={{ path('app_shop_product_index', {'criteria': {(taxon.root.code): [taxon.id]}}) }}>{{ taxon.name }}</a></dd>
                                    {% endfor %}
                                {% endfor %}

                                <dt>{{ 'app.ui.weight'|trans }}</dt>
                                <dd>{{ product.masterVariant.weight }}kg</dd>

                                <dt>{{ 'app.ui.dimensions'|trans }}</dt>
                                <dd>{{ product.masterVariant.width }}x{{ product.masterVariant.height }}x{{ product.masterVariant.depth }}cm</dd>

                                <dt>{{ 'sylius.ui.sku'|trans }}</dt>
                                <dd>{{ product.sku }}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        {% if minorTaxons is not empty %}
                        <div id="product-tags" class="box same-height-always">
                            <h4>{{ 'app.ui.tags'|trans }}</h4>
                            <dl>
                                {% for rootName, taxons in minorTaxons %}
                                    <dt>{{ rootName }}</dt>
                                    {% for taxon in taxons %}
                                        <dd><a href={{ path('app_shop_product_index', {'criteria': {(taxon.root.code): [taxon.id]}}) }}>{{ taxon.name }}</a></dd>
                                    {% endfor %}
                                {% endfor %}
                            </dl>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <h4 class="text-center">{{ product.name }}</h4>
                <p class="price">{{ product.price|sylius_price }}</p>
                <p class="text-center">
                    <button type="submit" class="btn btn-primary btn-cart">
                        <i class="fa fa-cart-plus"></i>
                        {{ 'sylius.ui.add_to_cart'|trans }}
                    </button>
                </p>
            </div>

            <div class="hidden">
                {{ form_rest(form) }}
            </div>
        </div>

        <div class="col-sm-3 col-lg-2" id="productExtra">
            <div class="box" id="product-resources">
                {% set resources = attribute(product, 'getAttributeByCode', ['resources']) %}
                <h4>{{ resources.name }}</h4>
                {{ resources.value|raw }}
            </div>
        </div>
        </form>

    </div>
    <div>
        {{ render(url('app_shop_product_similar', {'productId': product.id, 'parameters': ['Game System', 'Publisher'], 'limit': 5, 'template': '@SyliusWeb/Frontend/Product/_similar.html.twig'})) }}
    </div>

{% endblock %}
