{% extends '@SyliusWeb/Frontend/layout.html.twig' %}
{% import '@SyliusWeb/Frontend/Product/macros.html.twig' as macro %}

{% set form = sylius_cart_form({'product': product}) %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output='assets/compiled/backend_review.js'
    'bundles/syliusreview/js/sylius-review.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script>
        var createMessage = "{{ 'sylius.resource.create'|trans({'%resource%': 'Product review'}, 'flashes') }}";
        $(document).ready(function () {
            initializeAjaxForm(createMessage);
        });
    </script>
    {% endjavascripts %}
{% endblock %}

{% block title %}
    - {{ product.name }}
{% endblock %}

{% block topbar %}
    <ul class="breadcrumb">
        <li><a href={{ path('sylius_homepage') }}>Home</a></li>
        {% for taxon in product.taxons %}
            {% if taxon.getRoot.name == 'Publisher' or taxon.getRoot.name == 'Game System' %}
                <li><a href={{ path(taxon.permalink) }}>{{ taxon.name }}</a></li>
            {% endif %}
        {% endfor %}
        <li>{{ product.name }}</li>
    </ul>
{% endblock %}

{% block content %}

    {{ parent() }}

    <div class="row" id="productMain">
        <div class="col-sm-6 col-sm-push-3 col-lg-6 col-lg-push-4" id="productSummary">
            <div class="box">
                <div class="col-sm-12 summary">
                    <h1>{{ product.name }}</h1>
                </div>

                <div class="col-sm-12 summary">
                    <p class="text-muted">Short description appears here. In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide. Pellentesque habitant morbi tristique senectus et netuss.</p>
                    <ul class="text-muted">
                        <li>Learn in only 15 minutes</li>
                        <li>Play in only 60 minutes</li>
                        <li>Enjoy hundreds of hours of fast-paced, interactive fun!</li>
                        <li>Settlers of Catan engages both children and adults, garnering best-seller status in both Germany and the US</li>
                        <li>Ages 10 +</li>
                    </ul>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>

        <form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post" class="clearfix">

        <div class="col-sm-3 col-sm-push-3 col-lg-2 col-lg-push-4" id="productPrice">
            <div class="box">
                <p class="price">{{ product.price|sylius_price }}</p>
                <div class="add-cart-block-vertical">
                    <p class="text-center">
                        <button type="submit" class="btn btn-primary btn-cart">
                            <i class="fa fa-cart-plus"></i>
                            {{ 'sylius.ui.add_to_cart'|trans }}
                        </button>
                    </p>
                </div>
            </div>

            <div class="box social" id="product-social">
                <h4>Show it to your friends</h4>
                <p>
                    <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                </p>
            </div>
        </div>
        <div class="col-sm-3 col-sm-pull-9 col-lg-4 col-lg-pull-8" id="productImage">
            <div id="mainImage">
                <img class="img-responsive"
                     src="{{ product.image ? product.image.path|imagine_filter('sylius_large') : 'http://placehold.it/500x800' }}"
                     alt="{{ product.name }}">
            </div>

            {{ macro.all_ribbons('plain_ribbon', product) }}

            <div class="row" id="thumbs">
                {% for image in product.images %}
                    <div class="col-xs-4">
                        <a href="{{ image.path|imagine_filter('sylius_large') }}" title="{{ product.name }}" class="thumb">
                            <img class="img-responsive" src="{{ image.path|imagine_filter('sylius_small') }}" alt="{{ product.name }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-sm-9 col-lg-10" id="productDetail">
            <div class="box" id="details">
                <h4>Product details</h4>

                <blockquote>
                    <p>{{ product.description }}</p>
                </blockquote>

                <h4>Contents</h4>
                <ul>
                    <li>72 Land tiles</li>
                    <li>12 River tiles</li>
                    <li>1 scoreboard</li>
                    <li>40 followers in 5 colors</li>
                    <li>5 abbots in 5 colors</li>
                    <li>1 rulebook</li>
                    <li>1 supplementary sheet</li>
                </ul>

                <div class="same-height-row row">
                    <div class="col-xs-6">
                        <div id="product-technical" class="box same-height-always">
                            <h4>Technical details</h4>
                            <dl>
                                <dt>Publisher</dt>
                                <dd><a href="#">Mayfair Games</a></dd>
                                <dt>Game System</dt>
                                <dd><a href="#">Catan</a></dd>
                                <dt>Approx Weight</dt>
                                <dd>1.5kg</dd>
                                <dt>Approx Dimensions</dt>
                                <dd>60x30x12cm</dd>
                                <dt>Barcode</dt>
                                <dd>123456789123</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div id="product-tags" class="box same-height-always">
                            <h4>Tags</h4>
                            <dl>
                                <dt>Game length</dt>
                                <dd><a href="#">30-60 minutes</a></dd>
                                <dt>Number of Players</dt>
                                <dd><a href="#">2 players</a></dd>
                                <dd><a href="#">3 players</a></dd>
                                <dd><a href="#">4 players</a></dd>
                                <dt>Player Age</dt>
                                <dd><a href="#">Older child</a></dd>
                                <dd><a href="#">Teenager</a></dd>
                                <dd><a href="#">Adult</a></dd>
                                <dt>Tags</dt>
                                <dd><a href="#">Gateway</a></dd>
                                <dd><a href="#">Family</a></dd>
                                <dd><a href="#">Award Winner</a></dd>
                                <dd><a href="#">Best Seller</a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hidden">
                {{ form_rest(form) }}
            </div>

            <h4 class="text-center">{{ product.name }}</h4>
            <p class="price">{{ product.price|sylius_price }}</p>
            <p class="text-center">
                <button type="submit" class="btn btn-primary btn-cart">
                    <i class="fa fa-cart-plus"></i>
                    {{ 'sylius.ui.add_to_cart'|trans }}
                </button>
            </p>
        </div>

        <div class="col-sm-3 col-lg-2" id="productExtra">
            <div class="box" id="product-resources">
                <h4>Resources</h4>
                <ul>
                    <li><a href="">Manual (PDF)</a></li>
                    <li><a href="">Errata (PDF)</a></li>
                    <li><a href="">Publisher Page</a></li>
                    <li><a href="">Boardgamegeek</a></li>
                </ul>
            </div>
        </div>
        </form>

    </div>
    <div class="box col-sm-10">
        {% include '@SyliusWeb/Frontend/_recommended.html.twig' %}
    </div>

{% endblock %}
