{% set cart = sylius_cart_get() %}

<div id="navbar" class="navbar navbar-default navbar-fixed-top yamm" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand home" href="{{ path('sylius_homepage') }}">
                <img src="{{ asset('img/logo.png') }}" />
                <span class="sr-only">BoardGameMonster - go to homepage</span>
            </a>
        </div>

        <div class="navbar-collapse" id="menu">
            {{ knp_menu_render('menu.partial_categories', {'template': '@SyliusWeb/Frontend/Menu/_main.html.twig'}) }}
        </div>

        <div class="navbar-collapse right" id="basket-overview">
            <a class="btn btn-primary navbar-btn" href={{ path('sylius_cart_summary') }}>
                <i class="fa fa-shopping-cart"></i>
                <span class="hidden-sm">{{ cart.countItems() }}</span> item{% if cart.countItems() != 1 %}s{% endif %}
                <span class="hidden-md">in cart</span>
            </a>
        </div>

        <div class="navbar-collapse right" id="navbar-search">
            <form action="/search/" role="search" method="GET" class="navbar-form float-left">
                <input type="hidden" name="search_param" value="all" id="search_param">
                <div class="input-group">
                    <input type="text" class="form-control" id="search" placeholder="Search">
                    <button id="search-button" type="submit" class="btn btn-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="navbar-collapse right">
            <a class="btn btn-primary navbar-btn" href={{ path('sylius_account_profile_show') }}>
                <i class="fa fa-user"></i>
            </a>
        </div>
    </div>
</div>
