{% macro btn(url, message, id, icon, class) %}
    <a class="btn {% if class is not empty %} {{ class }} {% else %}btn-default{% endif %}"
            {% if id is not empty %} id="{{ id }}"{% endif %}
       href="{{ url }}">
        {% if icon is not empty %}
            <i class="fa fa-{{ icon }}"></i>
        {% endif %}
        {{ message }}
    </a>
{% endmacro %}

{% macro show(url, id) %}
    {% import _self as buttons %}

    {{ buttons.btn(url, 'Details', id, 'book', 'btn-primary') }}
{% endmacro %}
