<div class="col-md-3">
    <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
            <h4 class="panel-title">My account</h4>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a href={{ path('sylius_account_profile_show') }}><i class="fa fa-home"></i>Home</a></li>
                <li><a href={{ path('sylius_account_profile_update') }}><i class="fa fa-info-circle"></i>Personal information</a></li>
                <li><a href={{ path('sylius_account_change_password') }}><i class="fa fa-lock"></i>Change password</a></li>
                <li><a href={{ path('sylius_account_order_index') }}><i class="fa fa-archive"></i>View orders</a></li>
                <li><a href={{ path('sylius_account_address_index') }}><i class="fa fa-globe"></i>Address book</a></li>
            </ul>
        </div>
    </div>
</div>
