<div class="col-md-3">
    <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
            <h4 class="panel-title">{{ 'app.ui.my_account'|trans }}</h4>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a href={{ path('sylius_account_profile_update') }}><i class="fa fa-info-circle"></i>{{ 'app.ui.personal_informaion'|trans }}</a></li>
                <li><a href={{ path('sylius_account_change_password') }}><i class="fa fa-lock"></i>{{ 'app.ui.change_password'|trans }}</a></li>
                <li><a href={{ path('sylius_account_order_index') }}><i class="fa fa-archive"></i>{{ 'app.ui.view_orders'|trans }}</a></li>
                <li><a href={{ path('sylius_account_address_index') }}><i class="fa fa-globe"></i>{{ 'app.ui.address_book'|trans }}</a></li>
                <li><a href={{ path('sylius_user_security_logout') }}><i class="fa fa-sign-out"></i>{{ 'sylius.ui.logout'|trans }}</a></li>
            </ul>
        </div>
    </div>
</div>
