{% extends '@SyliusWeb/Frontend/Account/layout.html.twig' %}
{% from '@SyliusWeb/Frontend/Macros/actions.html.twig' import update %}

{% set changePasswordLabel = 'app.ui.change_password'|trans %}

{% block title %}
    - {{ changePasswordLabel }}
{% endblock %}

{% block topbar %}
    <ul class="breadcrumb">
        <li><a href={{ path('sylius_homepage') }}>{{ 'app.ui.home'|trans }}</a></li>
        <li>{{ 'app.ui.my_account'|trans }}</li>
        <li>{{ changePasswordLabel }}</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="box text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>{{ changePasswordLabel }}</h1>
            </div>
        </div>
    </div>

    {{ parent() }}

    <div class="col-md-9 clearfix">
        <div class="box">
            <form action="{{ path('sylius_account_change_password') }}" {{ form_enctype(form) }} method="post">
                <div class="row">
                    {{ form_errors(form) }}

                    <div class="col-md-12">
                        {{ form_label(form.currentPassword, 'Current password', {'label_attr': {'class': 'text-muted pull-left'}}) }}
                        {{ form_widget(form.currentPassword) }}
                        {{ form_errors(form.currentPassword) }}
                    </div>
                    <div class="spacer-50">&nbsp;</div>
                    <div class="col-md-12">
                        {{ form_label(form.newPassword.first, 'New password', {'label_attr': {'class': 'text-muted pull-left'}}) }}
                        {{ form_widget(form.newPassword.first) }}
                        {{ form_errors(form.newPassword.first) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_label(form.newPassword.second, null, {'label_attr': {'class': 'text-muted pull-left'}}) }}
                        {{ form_widget(form.newPassword.second) }}
                        {{ form_errors(form.newPassword.second) }}
                    </div>
                </div>

                {{ form_rest(form) }}
                {{ update() }}
            </form>
        </div>
    </div>

    {% include('SyliusWebBundle:Frontend/Account:menu.html.twig') %}

{% endblock %}
