{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block title %}
    - {{ 'app.ui.new_account'|trans }}/{{ 'app.ui.log_in'|trans }}
{% endblock %}

{% block topbar %}
    <ul class="breadcrumb">
        <li><a href={{ path('sylius_homepage') }}>{{ 'app.ui.home'|trans }}</a></li>
        <li>{{ 'app.ui.new_account'|trans }}/{{ 'app.ui.log_in'|trans }}</li>
    </ul>
{% endblock %}

{% block content %}
    {{ parent() }}

    <div class="col-md-12">
        <div class="col-md-6">
            <div class="box">
                <h1 class="text-center">{{ 'app.ui.new_account'|trans }}</h1>
                <div class="spacer-50">&nbsp;</div>
                <hr/>
                {% block registerForm %}
                {% endblock %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <h1 class="text-center">{{ 'sylius.ui.login'|trans }}</h1>
                <div class="spacer-50">&nbsp;</div>
                <hr/>
                {% block loginForm %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
