{% extends '@SyliusWeb/Frontend/Account/layout.html.twig' %}

{% block title %}
    - Reset password
{% endblock %}

{% block topbar %}
    <ul class="breadcrumb">
        <li><a href={{ path('sylius_homepage') }}>Home</a></li>
        <li>Reset password</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="box text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>Reset password</h1>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-md-offset-2 clearfix">
        <div class="box">
            <form action="{{ path('sylius_user_request_password_reset_token') }}" {{ form_enctype(form) }} method="post">
                <div class="row">
                    {{ form_errors(form) }}

                    <div class="col-md-12 clearfix">
                        {{ form_label(form.email, 'E-mail', {'label_attr': {'class': 'text-muted pull-left'}}) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="spacer-50">&nbsp;</div>
                    <div class="col-md-12 text-center">
                        <button class="btn btn-danger btn-md" type="submit">
                            <i class="fa fa-lock"></i>
                            Reset
                        </button>
                    </div>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>

{% endblock %}
