{% extends '@SyliusWeb/Frontend/Account/layout.html.twig' %}
{% from '@SyliusWeb/Frontend/Macros/actions.html.twig' import update %}

{% set resetPasswordLabel = 'sylius.ui.reset_password'|trans %}

{% block title %}
    - {{ resetPasswordLabel }}
{% endblock %}

{% block topbar %}
    <ul class="breadcrumb">
        <li><a href={{ path('sylius_homepage') }}>{{ 'app.ui.home'|trans }}</a></li>
        <li>{{ resetPasswordLabel }}</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="box text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>{{ resetPasswordLabel }}</h1>
                <p>Please enter a new password for {{ user.email }}</p>
            </div>
        </div>
    </div>

    {{ parent() }}

    <div class="col-md-8 col-md-offset-2 clearfix">
        <div class="box">
            <form action="{{ path('sylius_user_password_reset', { 'token' : user.confirmationToken }) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
                <div class="row">
                    {{ form_errors(form) }}

                    <div class="col-md-12">
                        {{ form_label(form.password.first, 'New password', {'label_attr': {'class': 'text-muted pull-left'}}) }}
                        {{ form_widget(form.password.first) }}
                        {{ form_errors(form.password.first) }}
                    </div>
                    <div class="spacer-50">&nbsp;</div>
                    <div class="col-md-12">
                        {{ form_label(form.password.second, 'Confirmation', {'label_attr': {'class': 'text-muted pull-left'}}) }}
                        {{ form_widget(form.password.second) }}
                        {{ form_errors(form.password.second) }}
                    </div>
                    <div class="spacer-50">&nbsp;</div>
                </div>
                {{ form_rest(form) }}
                {{ update() }}
            </form>
        </div>
    </div>

{% endblock %}
