{{ form_errors(form) }}
<div class="two field">
    {{ form_row(form.file) }}
    {{ form_row(form.position) }}
    {{ form_row(form.url) }}
    {{ form_row(form.tooltip) }}
    {{ form_row(form.enabled) }}
</div>
{{ form_rest(form) }}
